<div class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow ">
  <a class="navbar-brand ">
    标题
  </a>
  <!-- 这段暂时不用看-->
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <!-- 导航栏的链接 -->
      <li class="nav-item" id="nav-index">
        <a class="nav-link" href="/">Index</a>
      </li>
      <!-- 导航栏的链接  active 文字高亮-->
      <li class="nav-item" id="nav-movie">
        <a class="nav-link" href="/src/page/movie.html">电影</a>
      </li>

      <li class="nav-item" id="nav-todo">
        <a class="nav-link" href="/src/page/todo.html">todo</a>
      </li>
    </ul>
    <!-- 登录按钮 样式是 按钮实际是 超链接 点击后应该跳转到登录页面 -->
    <a class="nav-link">log in</a>
  </div>
</div>